<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Welcome to Home Page</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body class="bg-dark" style="overflow-x:hidden;">
	<div class="row d-flex justify-content-center mt-5 ">
		<div class="col-5 mt-5">
			<div class="col-11 mx-auto my-auto">
				<div th:if="${session.message}" class="alert_field">
					<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div></div>
				<form th:action="@{/home}" th:object="${table}" method="post">
					<div class="form-group row mt-3">
						<label for="tableName" class="col-sm-4 col-form-label text-white">Table Name</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="tableName" id="tableName"
								placeholder="Table Name" required>
						</div>
					</div>
					<div class="form-group row mt-3">
						<label for="firstColumn" class="col-sm-4 col-form-label text-white">First Column</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="firstColumn" id="firstColumn"
								placeholder="Unique Column" required>
						</div>
					</div>
					<div class="form-group row mt-3">
						<label for="secondColumn" class="col-sm-4 col-form-label text-white">Second Column</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="secondColumn" id="secondColumn"
								placeholder="Column Name" required>
						</div>
					</div>
					<div class="form-group row mt-4">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-light">Manual Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
</body>

</html>