<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Locations Update Page</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body class="bg-dark" style="overflow-x:hidden;">
	<div class="row d-flex justify-content-center mt-5 ">
		<div class="col-8 mt-5">
			<div class="col-11 mx-auto my-auto">
				<div th:if="${session.message}" class="alert_field">
					<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
			</div>
			<table class="table table-bordered table-secondary table-striped table-hover">
				<thead>
					<tr>
						<th>Table Name</th>
						<th>Colum Name</th>
						<th>Distinct Value</th>
						<th>User Input</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="location: ${locations}">
						<td>interview.geography_columns</td>
						<td>city_name</td>
						<td class="location" th:text="${location}"></td>
						<td><input type="text" class="updateLocation" /></td>

					</tr>
				</tbody>
			</table>
			<div th:if="${locations.size() == 0}" class="alert_field">
					<div class="alert text-center py-1 alert-danger" role="alert">
						<span>No Data Exists</span>
					</div>
					
				</div>
			<div class="col-sm-12 text-center">
				<button type="submit" class="btn btn-light update">Update</button>
			</div>
		</div>
	</div>
	<script th:src="@{/webatrs/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
	<script>



		$(".update").click(function () {

			var data = {
				location: [],
				updateLocation: []
			};

			var $row = $(".location").closest("tr");
			$row.find(".location").each(function () {
				data.location.push($(this).text());
			});

			var $updaterow = $(".updateLocation").closest("tr");
			$updaterow.find(".updateLocation").each(function () {
				data.updateLocation.push($(this).val());
			});

			console.log(data);

			$.ajax({
				url: '/update/cities',
				method: 'POST',
				data: JSON.stringify(data),
				contentType: "application/json; charset=utf-8",
				success: function () {
					window.location.href = "/updatedLocations";
				},
				error: function (e) {
					alert('error occured while deleting data' + e);
				}
			});

		});
	</script>

</body>

</html>